<a href="https://colab.research.google.com/github/MohdSafwan01/Python-Functions/blob/main/52_Tuple_Unpacking_with_Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
stock_prices=[('APPL',200),('GOOG',300),('MSFT',400)]

In [ ]:
for item in stock_prices:
  print(item)

('APPL', 200)
('GOOG', 300)
('MSFT', 400)

In [ ]:
for ticker,price in stock_prices:
  print(ticker)

APPL
GOOG
MSFT

In [ ]:
for ticker,price in stock_prices:
  print(price + (price*0.1))

220.0
330.0
440.0

In [ ]:
work_hours = [('Abby',100),('Billy',200),('Jenny',900),('Safwan',910)]

now here we have to do is

we want to see the employee of the year

we will give employee year based on the work_hours.

so we need func that can goes through these tuples and see the names and their work hours and keep a track of their work hours

In [ ]:
def employee_check(work_hours):

  current_max = 0
  employee_of_month = ''

  for employee,hours in work_hours:
    if hours > current_max:
      current_max= hours
      employee_of_month=employee
    else:
      pass
  #Return
  return (employee_of_month,current_max)

In [ ]:
employee_check(work_hours)

('Safwan', 910)

In [ ]:
result = employee_check(work_hours)

In [ ]:
result

('Safwan', 910)

In [ ]:
name,hours = employee_check(work_hours)

In [ ]:
name

'Safwan'

In [ ]:
hours

910

2nd example for practice

Question:
You have a list of tuples containing student names and their test scores:

In [16]:
test_scores = [('Alice', 85), ('Bob', 92), ('Charlie', 78), ('Diana', 95), ('Eve', 88),('Steve',99)]

In [17]:
#Your task: Write a function called top_student(test_scores) that:

#Goes through the tuples
#Finds the student with the highest score
#Returns a tuple with the student's name and their score

In [18]:
def top_students(test_scores):

  current_highest_score=0
  top_scorer= ''

  for student,marks in test_scores:
    if marks> current_highest_score:
      current_highest_score = marks
      top_scorer = student
    else:
      pass
  #Return
  return (top_scorer,current_highest_score)

In [19]:
top_students(test_scores)

('Steve', 99)