<a href="https://colab.research.google.com/github/MohdSafwan01/Python-Functions/blob/main/52_Tuple_Unpacking_with_Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
stock_prices=[('APPL',200),('GOOG',300),('MSFT',400)]

In [ ]:
for item in stock_prices:
  print(item)

('APPL', 200)
('GOOG', 300)
('MSFT', 400)

In [ ]:
for ticker,price in stock_prices:
  print(ticker)

In [ ]:
for ticker,price in stock_prices:
  print(price + (price*0.1))

220.0
330.0
440.0

In [ ]:
work_hours = [('Abby',100),('Billy',200),('Jenny',900),('Safwan',910)]

now here we have to do is

we want to see the employee of the year

we will give employee year based on the work_hours.

so we need func that can goes through these tuples and see the names and their work hours and keep a track of their work hours

In [ ]:
def employee_check(work_hours):

  current_max = 0
  employee_of_month = ''

  for employee,hours in work_hours:
    if hours > current_max:
      current_max= hours
      employee_of_month=employee
    else:
      pass
  #Return
  return (employee_of_month,current_max)

In [ ]:
employee_check(work_hours)

('Safwan', 910)

In [ ]:
result = employee_check(work_hours)

In [ ]:
result

('Safwan', 910)

In [ ]:
name,hours = employee_check(work_hours)

In [ ]:
name

'Safwan'

In [ ]:
hours

910

2nd example for practice

Question:
You have a list of tuples containing student names and their test scores:

In [66]:
test_scores = [('Alice', 85), ('Bob', 92), ('Charlie', 78),('Anas',34),('Diana', 95), ('Eve', 88),('Steve',99)]

In [67]:
#Your task: Write a function called top_student(test_scores) that:

#Goes through the tuples
#Finds the student with the highest score
#Returns a tuple with the student's name and their score

In [68]:
def bottom_students(test_scores):

  current_lowest_score=100
  bottom_scorer= ''

  for student,marks in test_scores:
    if marks< current_lowest_score:
      current_lowest_score = marks
      bottom_scorer = student
  #Return
  return (bottom_scorer,current_lowest_score)

In [69]:
bottom_students(test_scores)

('Anas', 34)

3rd example

Question: You have a list of product prices:


prices = [45, 120, 30, 200, 75, 150, 60]

Your task: Write a function called count_affordable(prices, budget) that:

Takes a list of prices and a budget amount as parameters

Counts how many products cost less than or equal to the budget

Returns the count

In [22]:
prices = [45, 120, 30, 200, 75, 150, 60]

In [33]:
import math
def count_affordable(prices,budget):

  current_product_budget = math.inf
  least_cost_product = ''

  for product,budget in prices:
    if  budget<current_product_budget:
       budget = current_product_budget
       least_cost_product = product



  return(least_cost_product,current_product_budget)

In [43]:
def count_affordable(prices,budget):

  count = 0

  for price in prices:
    if price<=budget:
      count= count+1

  return(count)

In [58]:
count_affordable(prices,50)

2

4th example

Question: You have a list of temperatures in Celsius for a week:


temperatures = [22, 28, 19, 31, 25, 18, 27]

Your task: Write a function called hot_days(temperatures, threshold) that:

Takes a list of temperatures and a threshold temperature as parameters

Counts how many days had temperatures above the threshold (not equal, just above)

Returns the count

In [53]:
temperatures = [22, 28, 19, 31, 25, 18, 27]

In [47]:
def hot_days(temperatures,threshold):
  count = 0

  for temp in temperatures:
    if temp > threshold:
      count = count+1

  return(count)

In [56]:
hot_days(temperatures,10)

7