<a href="https://colab.research.google.com/github/MohdSafwan01/Python-Functions/blob/main/_args_and_kwargs_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

generally we do this

In [5]:
def myfunc(a,b):
  return sum((a,b))*0.05

In [9]:
myfunc(40,60)

5.0

but the issue here is , if we need to add more parameters inside the function we have to do it manually like this

In [10]:
def myfunc(a,b,c=0,d=0,e=0):
  return sum ((a,b,c,d,e))*0.05

In [11]:
myfunc(40,60)

5.0

In [12]:
myfunc(40,60,100)

10.0

In [14]:
myfunc(40,60,100,100,80)

19.0

but when we try to insert more inputs which exceed the no. of parameters in the function definition it will give error like this:-

In [15]:
myfunc(40,60,100,100,100,100)

TypeError: myfunc() takes from 2 to 5 positional arguments but 6 were given

"TypeError: myfunc() takes from 2 to 5 positional arguments but 6 were given"

this is the error we will get

but for this issue we can use '*args'(arguements)

this allows us to enter multiple no. of inputs without needing to define in the function definition

*args acts as a tuple

In [16]:
def myfunc(*args):
  return sum(args)*0.05

In [17]:
myfunc(40,30)

3.5

In [20]:
myfunc(40,60,100,100,100,100)

(40, 60, 100, 100, 100, 100)

In [21]:
def myfunc(*args):
  print(args)

In [22]:
myfunc(40,40,50,60,100,100)

(40, 40, 50, 60, 100, 100)

In [24]:
def myfunc(*args):
  for item in args:
    print(item)

In [25]:
myfunc(40,40,50,60,100,100)

40
40
50
60
100
100

2nd is **kwargs(key word arguements)

**kwargs differ from *args because they acts as a dictionary in the function and *args acts a tuple

In [37]:
def myfucn(**kwargs):
  if 'fruit' in kwargs:
    print('my fruit of choice is{}'.format(kwargs['fruit']))
  else:
    print('I did not found any fruit')

In [39]:
myfucn(fruit =' apple', veggie = 'tomato')

my fruit of choice is apple

using *args and **kwargs

In [53]:
def myfunc(*args,**kwargs):
  print('I would like {} {}'.format(args[0], kwargs['food']))

In [54]:
myfunc(10,20,30,40,food='apple')

I would like 10 apple

In [55]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0], kwargs['food']))

In [56]:
myfunc(10, 20, 30, fruit='orange', food='eggs', animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs